<a href="https://colab.research.google.com/github/CSI-Project444/CSI/blob/main/ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/ez1.csv')
df.sample(5)

,Zone,data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104
1924,1,6,5,7,5,7,5,7,5,7,...,8,1,8,1,7,1,7,2,6,2
7386,4,8,-8,8,-8,7,-8,8,-8,7,...,3,-7,4,-7,4,-7,4,-6,4,-5
349,1,2,10,3,10,4,10,3,10,3,...,3,6,3,6,2,6,1,6,1,6
4707,3,6,3,7,3,7,2,7,2,7,...,7,-1,6,-1,6,-1,6,0,5,1
7318,4,6,7,6,6,7,6,7,6,6,...,6,1,6,2,5,2,5,3,4,3

In [9]:
df[['pow2: 2','pow2: 3']] = np.power((df[['Unnamed: 2','Unnamed: 3']]),2)
print(df)

      Zone  data  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  \
0        1   -12          -6         -12          -6         -12          -5
1        1   -12           4         -11           5         -11           5
2        1   -11           5         -11           4         -11           5
3        1   -12           2         -11           2         -11           3
4        1    -5          10          -5          10          -4          10
...    ...   ...         ...         ...         ...         ...         ...
7937     4     3         -10           3         -10           2         -10
7938     4    -5          -9          -5          -9          -6          -9
7939     4   -10           2         -10           3         -10           3
7940     4     5          -9           4          -9           4          -9
7941     4    -3         -10          -4         -10          -4         -10

      Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 97  Unnamed: 98  \
0            -12          -6         -12  ...           -8           -3
1            -12           4         -11  ...           -8            4
2            -10           5         -11  ...           -8            3
3            -12           2         -11  ...           -8            2
4             -4          10          -4  ...           -3            7
...          ...         ...         ...  ...          ...          ...
7937           2         -10           2  ...            0           -8
7938          -6         -10          -6  ...           -6           -5
7939         -10           3         -10  ...           -8            4
7940           4         -10           4  ...            1          -10
7941          -4         -10          -5  ...           -6           -7

      Unnamed: 99  Unnamed: 100  Unnamed: 101  Unnamed: 102  Unnamed: 103  \
0              -8            -4            -7            -4            -6
1              -8             3            -7             2            -7
2              -8             3            -7             2            -7
3              -8             1            -8             0            -7
4              -3             7            -4             6            -4
...           ...           ...           ...           ...           ...
7937            1            -8             1            -7             1
7938           -6            -6            -6            -6            -5
7939           -8             4            -8             2            -7
7940            1            -9             2            -8             2
7941           -6            -7            -5            -7            -4

      Unnamed: 104  pow2: 2  pow2: 3
0               -4       36      144
1                2       16      121
2                2       25      121
3                0        4      121
4                6      100       25
...            ...      ...      ...
7937            -7      100        9
7938            -6       81       25
7939             2        4      100
7940            -7       81       16
7941            -7      100       16

[7942 rows x 107 columns]

In [10]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [13]:
url='https://raw.githubusercontent.com/CSI-Project444/CSI/main/Data/ez1.csv'
df=pd.read_csv(url)
df.sample(5)

,Zone,data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102,Unnamed: 103,Unnamed: 104
7681,4,1,-10,0,-10,0,-10,0,-10,0,...,-1,-8,-1,-7,-1,-7,0,-7,0,-6
3342,2,-4,10,-4,10,-4,10,-4,10,-3,...,-2,7,-2,6,-2,6,-2,6,-3,5
3065,2,-10,8,-9,8,-9,8,-9,7,-9,...,-5,5,-5,5,-5,4,-5,4,-5,3
5394,3,8,-8,7,-7,7,-8,7,-7,7,...,4,-5,4,-4,4,-4,4,-3,3,-3
7287,4,2,-11,1,-12,1,-11,1,-12,1,...,1,-7,2,-7,2,-7,2,-6,2,-6

In [15]:
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import OneHotEncoder
cols=['Unnamed: 2','Unnamed: 3','Unnamed: 4']
X=df[cols] 
scaler = StandardScaler()
X_scale=scaler.fit_transform(X)
X_scale = X_scale.round(4) 
y = np.array(df['Zone'])

encoder = OneHotEncoder()
y_targets = encoder.fit_transform(df[['Zone']]).toarray()

In [20]:
from sklearn.model_selection import train_test_split
test_size=0.6
X_train, X_test, y_train, y_test = train_test_split(
    X, y_targets, 
    test_size=test_size, random_state=4)

In [17]:
from keras.models import Sequential
from keras.layers.core import Dense
model = Sequential()
model.add(Dense(10, input_dim=3, activation='relu'))
model.add(Dense(10, input_dim=10, activation='relu'))
model.add(Dense(10, input_dim=10, activation='relu'))
model.add(Dense(3, activation='sigmoid'))

In [18]:
model.compile(loss='mean_squared_error',
              optimizer='adam',
              metrics=['accuracy'])

In [19]:
model.fit(X_train, y_train, epochs=100, verbose=1)

Epoch 1/100

ValueError: ignored

In [21]:
results = model.evaluate(X_test, y_test)
print('Accuracy: %.3f' % results[1])

ValueError: ignored